# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TheaterApp.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\.NET\TheaterApp_201913709075_Ahmet_Altun\.idea\.idea.TheaterApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
